.waitState{
    text-align: center;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy-button {
    background-color: transparent !important;
}

.copy-modal {
    color: black;
    text-align: center;
}