.home-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .home-logo {
        animation: home-logo-spin infinite 20s linear;
    }
}

.home-link {
    color: #61dafb;
}

@keyframes home-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}