.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    margin-top: 5rem;
    text-align: center;
}

.home h1 {
    font-size: 5rem;
}

.home-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .home-logo {
        animation: home-logo-spin infinite 20s linear;
    }
}

@keyframes home-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}