.useravatar {
    width: fit-content;
    white-space: nowrap;
    background-color: white;
    color: #282c34;
    font-weight: bold;
    padding: 0.75rem;
}

@media (min-width: 900px) {
    .useravatar {
        max-width: 100%;
        width: 50%;
        min-width: fit-content;
        padding: 1.5rem;
    }
}