.scores {
    text-align: center;
}

.scoreheader {
    color: #43BFA6;
    border: solid #43BFA6;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.note {
    text-align: left;
}

.table {
    color: white;
    background-color: #EB5160;
}


.crown {
    width: 4rem;
    margin-left: 6rem;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 3;
    width: fit-content;
    margin: auto;
    align-items: center;
    justify-content: center;
}


/* Medium devices (mobile-medium, 375px and up) */
@media (min-width: 375px) {
    .menu-buttons {
        flex-direction: row;
        gap: 2;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .table {
        font-size: 1.25rem;
    }
}