/* import merriweather font from google */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Merriweather', sans-serif;
  background-color: #282c34;
  color: white;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* override Bootstrap's primary button styles */
.btn-primary {
  font-weight: bold;
  padding: 1rem;
  background-color: #282c34;
  color: #4BA2AF;
  box-shadow: 0 .2em #4BA2AF;
  border: 1px solid #4BA2AF;
  cursor: pointer;
}

.btn-primary:active, .btn-primary:hover {
  box-shadow: none;
  position: relative;
  top: .2em;
  color: white;
  background-color: #4BA2AF;
  border: 1px solid #4BA2AF;
}