/* import merriweather font from google */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Merriweather', sans-serif;
  background-color: #282c34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #4D92AA */

.gameStyle-button {
  font-weight: bold !important;
  padding: 1rem !important;
  background-color: #282C34 !important;
  color: #A3BAC3 !important;
  box-shadow: 0 .2em #A3BAC3 !important;
  cursor: pointer !important;
  border: 1px solid #A3BAC3 !important;
}

.gameStyle-button:active {
  box-shadow: none !important;
  position: relative !important;
  top: .2em !important;
}